/pll/
/pll_*.rpt
/PLLJ_PLLSPE_INFO.txt
/pll.bsf
/pll.cmp
/pll.html
/pll.sopcinfo
/.qsys_edit/
/softcore/
/softcore.bsf
/softcore.cmp
/softcore.html
/softcore.sopcinfo
/softcore_generation*.rpt
/software/*/obj/
/software/*/*.elf
/software/*/*.map
/software/*/*.objdump
/software/*/mem_init/
/software/*_bsp/drivers/
/software/*_bsp/HAL/
/software/*_bsp/*
!/software/*_bsp/.project
!/software/*_bsp/.cproject
!/software/*_bsp/create-this-bsp
!/software/*_bsp/settings.bsp
